body{
    font-family: Arial, sans-serif;
    background-color: #b8e7e8;
    height: 90vh;
     display: flex;
    flex-direction: column;   /* keeps your title, number, and buttons stacked */
    justify-content: center;  /* centers vertically */
    align-items: center;
}
.main{
text-align: center;
padding: 50px;
}
.countlabel{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(7, 122, 62);
}
.btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.footer{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    padding: 10px;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    border: 3px solid #040404;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}
